@media all {
.header-bg { background-color:rgb(102,102,102);
background-image:linear-gradient(left, rgba(27,90,164,1) 0%, rgba(27,90,164,1) 0%, rgba(28,89,165,1) 8.791208791208792%, rgba(36,81,174,1) 100%, rgba(36,81,174,1) 100%);
background-image:-webkit-linear-gradient(left, rgba(27,90,164,1) 0%, rgba(27,90,164,1) 0%, rgba(28,89,165,1) 8.791208791208792%, rgba(36,81,174,1) 100%, rgba(36,81,174,1) 100%);
background-position:center center;
background-repeat:no-repeat;
background-attachment:scroll;
 }
}

